
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
  font-family: 'Abril Fatface', 'roboto' sans-serif;
  text-align: center;
  color: #fff;
  background: url('../img/form.jpg') center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.title-hover:hover {
  color: #00ccff; 
  cursor: pointer; 
}


* {
  box-sizing: border-box; 
}

form {
  max-width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

input,
select {
  width: calc(100% - 16px); 
  padding: 8px;
  margin-bottom: 10px;
  background-color: rgba(219, 225, 227, 0.1);
  color: #fff;
}

option {
  background: linear-gradient(to bottom, rgba(76, 206, 249, 0.5), rgba(2, 152, 203, 0.5));
  color: #000; 
}

.form-container {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}

button {
  padding: 10px;
  background: linear-gradient(to bottom, rgba(76, 206, 249, 0.5), rgba(2, 152, 203, 0.5));
  color: white;
  border-radius: 5px;
  cursor: pointer;
  max-width: 300px;
}

button:hover {
  background-color: #058CD2;
}

/* estilos para el contenedor de mensajes */
.message-container {
  position: fixed;
  bottom: 80px;
  right: 50px;
  padding: 10px;
  background: linear-gradient(to left, rgba(255, 0, 0, 0.7) 0%, rgba(255, 0, 0, 0) 100%); /* Rojo fluorescente radial para mensajes de error */
  color: #fff;
  border-radius: 10px;
  display: none; 
}

.message-container.success {
  background: linear-gradient(to left, rgba(76, 175, 80, 0.7) 0%, rgba(76, 175, 80, 0) 100%); /* Verde fluorescente radial para mensajes de éxito */
}

.message-container.show {
  display: block; 
}

/* Media queries para estilos responsivos */
@media screen and (max-width: 600px) {
  form {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .message-container {
    right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .form-container {
    padding: 10px; 
    max-width: 300px; 
  }

  label {
    font-size: 14px; 
  }

  input,
  select {
    width: calc(100% - 12px); 
    padding: 6px; 
  }
}